<!DOCTYPE HTML>
<html>
<p><h1>Saiyans are a race of extraterrestrials,
who are a naturally aggressive warrior race who were supposedly striving to be the strongest in the universe</h1></p>
<h2>.</h2>
<h2>.</h2>
<h2>.</h2>

<h2>And then shit went down</h2>


   <body>
      <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>   
   </body>
</html>
